/* Loading Text Animation */
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.loading-splash p {
   -webkit-animation: flickerAnimation 2.5s infinite;
   -moz-animation: flickerAnimation 2.5s infinite;
   -o-animation: flickerAnimation 2.5s infinite;
    animation: flickerAnimation 2.5s infinite;
}

/* Like::before animation on click*/
@keyframes likeAnimation {
  0%   { opacity:1; }
  30%  { transform: translateY(-100px); }
  99%  { opacity:1; }
  100% { opacity:0; }
}
@-o-keyframes likeAnimation{
    0%   { opacity:1; }
    30%  { -o-transform: translateY(-100px); }
    99%  { opacity:1; }
    100% { opacity:0; }
}
@-moz-keyframes likeAnimation{
    0%   { opacity:1; }
    30%  { -moz-transform: translateY(-100px); }
    99%  { opacity:1; }
    100% { opacity:0; }
}
@-webkit-keyframes likeAnimation{
    0%   { opacity:1; }
    30%  { -webkit-transform: translateY(-100px); }
    99%  { opacity:1; }
    100% { opacity:0; }
}

.like-animation::before,
.love-animation::before {
    opacity: 0;
    font-size: 30px;
    font-weight: 700;
    content: "👍 +1";
    position: absolute;
    white-space: nowrap;
    animation: likeAnimation 1s;
    background-color: #fff;
    border: #000 3px solid;
    padding: 2px 8px;
    box-shadow: 4px 4px 0 #000;
    z-index: 99;
    opacity: 1;
}

.love-animation::before {
    content: "+2 💕";
}

.dislike-animation::before {
    content: "💩 -1";
}

/* Like image animation on click*/
@keyframes likeImgAnimation {
  0%   { opacity:1; }
  30%  { transform: translateY(-30px); }
  50%  { transform: translateY(40px); }
  99%  { opacity:1; }
  100% { opacity:0; }
}
@-o-keyframes likeImgAnimation{
    0%   { opacity:1; }
    30%  { -o-transform: translateY(-100px); }
    99%  { opacity:1; }
    100% { opacity:0; }
}
@-moz-keyframes likeImgAnimation{
    0%   { opacity:1; }
    30%  { -moz-transform: translateY(-100px); }
    99%  { opacity:1; }
    100% { opacity:0; }
}
@-webkit-keyframes likeImgAnimation{
    0%   { opacity:1; }
    30%  { -webkit-transform: translateY(-100px); }
    99%  { opacity:1; }
    100% { opacity:0; }
}

.like-img-animation {
    animation: likeImgAnimation 1s;
}
