@font-face {
  font-family: "HK Grotesk";
  src:url('../fonts/HKGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: 700;
}

@font-face {
  font-family: "HK Grotesk";
  src:url('../fonts/HKGrotesk-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: 500;
}
