body {
    font-family: 'Rakkas';
    cursor: url(../images/cursor.png), auto;
}

/* Navigation Items */

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 50px;
    padding: 20px 0 0;
    letter-spacing: 0.4px;
    position: fixed;
}

.nav .logo {
    height: 40px;
}

.nav a {
    height: 30px;
    color: black;
    text-decoration: none;
    cursor: url(../images/sparkles.png), auto;
}

.nav .items-left a,
.nav .items-left span {
    padding-left: 30px;
}

.nav .items-right a,
.nav .items-right span {
    padding-right: 40px;
}

footer {
    bottom: 0;
}

/* Ads */
.frame img {
    border: white solid 1px;
    cursor: pointer;
}

.frame img:hover {
    border-color: red;
    cursor: url(../images/hover.png), pointer;
}
