* {
    box-sizing: border-box;
    user-select: none;
}

html {
    /*overflow: hidden;*/
}

body {
    font-family: 'Rakkas';
    cursor: url(../images/cursor.png), auto;
}

img {
    margin-bottom: -7px;
}

/* Navigation Items */
.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 50px;
    padding: 0;
    letter-spacing: 0.4px;
    position: fixed;
    z-index: 22000000;
}

.nav .logo {
    height: 40px;
}

.nav a {
    height: 30px;
    color: black;
    text-decoration: none;
    cursor: url(../images/sparkles.png), auto;
}

.nav .items-left a,
.nav .items-left span {
    padding-left: 30px;
}

.nav .items-right a,
.nav .items-right span {
    padding-right: 40px;
}

footer {
    bottom: 0;
}

.container {
    display: flex;
    justify-content: center;
}

/* Ads */
.frame {
    padding-top: 120px;
    width: 360px;
    display: flex;
    flex-flow: wrap;
    cursor: url(../images/pointer.png), auto;
}

.frame-item {
    margin-bottom: 20px;
    border: white solid 5px;
    position: relative;
    width: 100%;
    transition: height .5s ease-in-out .3s, margin-bottom .5s ease-in-out .3s;;
}
.frame-item__hide {
    height: 0% !important;
    border: none !important;
    z-index: 22;
    /*pointer-events: none;*/
    margin-bottom: 0;
}
.frame-item__hide .ad {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    transition: transform .5s ease-in-out, opacity .2s ease-in-out .3s;
    transform: scale(1.8);
    opacity: 0;
    border: 5px solid #eee;
    margin-bottom: 0;
    cursor: url(../images/cursor.png), auto;
}

.frame-item__dunclick {
    pointer-events: none;
}
.frame-item__hide {
    border: none;
}
.frame-item:hover {
    border: 5px solid #eee;
    cursor: url(../images/hover.png), pointer;
}

/* Animations */
.ad {
    width: 100%;
    opacity: 3s;
    animation-fill-mode: backwards;
}

.ad:focus, .ad__popover:focus {
    cursor: url(../images/hover.png), pointer;
}

/* HTML Ads */
.window {
    padding: 10px;
    background-color: #F1C6EC;
}

.header {
    background-color: red;
}

.header span:nth-child(2n),
.action-panel a:nth-child(2n) {
    float: right;
}

.content {
    border: 1px solid #000;
    background-color: #FFF;
}

.action-panel {
    border: 1px solid blue;
}
