body {
    font-family: 'Rakkas';
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 40px;
    padding: 20px 0;
}

.nav a {
    color: black;
    text-decoration: none;
}

.nav .items-left a {
    padding-left: 30px;
}

.nav .items-right a {
    padding-right: 30px;
}
